{deps, [
  {eredis, "1.0.6", {git, "https://github.com/wooga/eredis.git", "master"}},
  {lager, "2.0.0", {git, "https://github.com/basho/lager.git", "169cffd94759e99e2e8870b125861a91e3c1482a"}},
  {dk_cxy, "0.9.6", {git, "https://github.com/whisper1/dk_cxy.git", "091118f"}},
  {worker_pool, "\.*", {git, "https://github.com/whisper1/worker_pool.git", "5580af73d4c6f978a013a362b8705b7b98d234a3"}}
  ]}.
{lib_dirs, [
  "deps/**/lib",
  "deps/lager/lib"
]}.
{require_otp_vsn, "R1[456]"}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
{erl_opts, [{parse_transform, lager_transform},
  {lager_truncation_size, 8192},
  {src_dirs, ["src","test"]}, {i, "include"},
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record, debug_info]}.
{dialyzer_opts, [{warnings, [unmatched_returns, error_handling, race_conditions, behaviours]}]}.
{edoc_opts, [{report_missing_types, true}, {source_path, ["src"]}, {report_missing_types, true}, {todo, true}, {packages, false}, {subpackages, false}]}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{xref_warnings, true}.
{erl_first_files,["src/esque.erl"]}.
{sub_dirs, ["rel"]}.
{ct_extra_params,"-pa ebin -pa deps/**/ebin -s lager"}.

